$header-text: #001201;
$table-outline: #97968e;
$body-text: #faf7e0;
$main-blue: #09669c;
$second-blue: #97968e;
$purple: #54317c;
$bkgd: #001220;

// #3e8aad
// #1456c0

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  color: $body-text;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
  background: url("./assets/layered-waves-haikei.svg");
  background-color: $bkgd;
  background-size: cover;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-ctn {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 2rem;

  @media (min-width: 1000px) {
    flex-direction: row;
    justify-content: center;
  }
}

.battleship-table {
  width: 300px;
  height: 300px;

  @media (min-width: 600px) {
    width: 400px;
    height: 400px;
  }

  @media (min-width: 1000px) {
    width: 350px;
    height: 350px;
  }

  @media (min-width: 1200px) {
    width: 450px;
    height: 450px;
  }
  // border: 1px solid $table-outline;
  border-collapse: collapse;

  th {
    margin: 0;
    padding: 0;
    width: 20px;
    color: $table-outline;
  }

  &__cell {
    border: 1px solid $table-outline;

    &.hit {
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 45%;
        background-color: $body-text;
        width: 3px;
        height: 100%;
        border-radius: 30em;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    &.miss {
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 35%;
        top: 35%;
        background-color: $table-outline;
        width: 10px;
        height: 10px;
        border-radius: 30em;
      }
    }

    &.sunk {
      background-color: $purple;
    }
  }

  &__taken {
    background: $main-blue;
  }
}

.p2 .battleship-table.my-turn {
  .battleship-table__cell {
    &:hover {
      background-color: $main-blue;
      cursor: crosshair;
    }
  }
}

#message {
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

h1 {
  padding-block: 0;
  margin-block: 1em;
  font-weight: 300;
}

h2 {
  position: relative;
  padding-inline-start: 1.5em;

  &.highlight {
    &::after {
      content: "";
      position: absolute;
      top: -10px;
      left: 80px;
      width: 20px;
      height: 20px;
      background-color: $body-text;
      border-radius: 3em;
      border: 2px solid black;
    }
  }
}

#start-game {
  margin-block: 2em;
  width: 100px;
  align-self: center;
}

.remove {
  display: none;
}

.hide {
  visibility: hidden;
}

.ctn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// #scrollable-content {
//   height: 100px;
//   width: 40ch;
//   overflow-y: scroll;
//   border: 2px solid black;
//   border-radius: 0.2em;
//   background: $main-blue;
//   padding-inline: 1em;
//   padding-block: 0.5em;
//   margin-block-start: 1em;
// }

p {
  padding: 0;
  margin-block: 0.2em;
}

button {
  background-color: $purple;
  color: $body-text;
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding-inline: 0.5em;
  padding-block: 0.5em;
  margin-block: 0.5em;
  cursor: pointer;
  box-shadow: 0 0 0 2px black;
  border-radius: 0.2em;
  transition:
    border-radius 200ms,
    background-color 200ms;

  &:hover {
    background-color: $main-blue;
    border-radius: 1em;
  }

  &:active {
    background-color: $header-text;
  }

  &:focus {
    outline: 2px solid $body-text;
  }
}

.you-ctn {
  display: flex;
  justify-content: space-between;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;

  @media (min-width: 600px) {
    flex-direction: row;
    gap: 1em;
  }

  #place-ships-btn {
    width: 100px;
    align-self: center;
    justify-self: center;
  }

  .ship-tracker {
    display: flex;
    gap: 0.7em;
    flex-wrap: wrap;
    width: 250px;
    align-self: end;

    @media (min-width: 600px) {
      flex-direction: column;
      gap: 0;
      width: min-content;
    }
  }
}

footer {
  display: flex;
  padding-block: 2em;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding-block: 0.2em;
    display: flex;
    flex-direction: column;
    gap: 0.1em;

    .sq-ctn {
      display: flex;

      .sq {
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid $table-outline;
      }
    }
  }
}

.p1 .sq {
  &.hit {
    background-color: $main-blue;
  }
}

.p2 .sq {
  &.hit {
    background-color: $purple;
  }
}

// pop up when someone wins
#pop-up {
  position: absolute;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.925);
  z-index: 2;

  &.remove {
    display: none;
  }

  > #pop-up-content {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    border-radius: 0.2em;
    background-color: $bkgd;
    font-size: 1.2em;
    text-align: center;
    border: 2px solid $main-blue;
  }
}
