$header-text: #001201;
$table-outline: #97968e;
$body-text: #faf7e0;
$main-blue: #09669c;
$second-blue: #97968e;
$purple: #54317c;
$bkgd: #001220;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  color: $body-text;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
  background: url("./assets/low-poly-grid-haikei.svg");
  background-color: $bkgd;
  background-size: cover;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.671);
  padding-block: 3em;
  z-index: 1;
}

.main-ctn {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  position: relative;

  @media (min-width: 1000px) {
    flex-direction: row;
    justify-content: center;
  }
}

#pregame-instructions {
  border-top: 1px solid $table-outline;
  border-bottom: 1px solid $table-outline;
  padding-block: 2em;
  padding-inline: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
  width: 100%;

  @media (min-width: 1200px) {
    position: fixed;
    top: 380px;
    justify-content: start;
    width: 250px;
    align-self: start;
    border-right: 1px solid $table-outline;
    z-index: 2;
  }

  &.remove {
    display: none;
  }

  .main-controls-ctn {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    max-width: 300px;

    h3 {
      flex-grow: 2;
      padding: 0;
      margin: 0;
      margin-block-end: 1em;
    }

    #instructions {
      text-align: start;
      flex-grow: -1;
    }

    &.remove {
      display: none;
    }

    .text-ctn {
      display: flex;
      flex-direction: column;
      padding-inline: 1em;
      text-align: center;
    }

    .radio-ctn {
      padding: 0;
      display: flex;
      width: 100%;
      position: relative;
      border: 1px solid $table-outline;
      border-radius: 0.5em;
      margin-block-start: 0.7em;

      label {
        position: relative;
        cursor: pointer;
        margin: 0;
        padding: 0;
        width: 100%;
      }

      span.radio-text {
        display: block;
        padding-inline: 1em;
        margin-block-start: -5px;
        padding-block-end: 1em;
        text-align: center;
        z-index: 0;
      }

      input {
        appearance: none;

        &:checked + span::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          box-shadow: 0 0 0 50px $main-blue inset;
          border-radius: 0.5em;
          z-index: -1;
        }
      }
    }
  }
}

input[type="radio"] {
  &:focus + span::before {
    outline: 2px solid white;
    border-radius: 0.2em;
  }
}

.sm-radio-ctn {
  padding: 0;
  display: flex;
  position: absolute;
  right: 20px;
  bottom: 16px;
  border: 1px solid $table-outline;
  border-radius: 0.5em;

  @media (min-width: 600px) {
    right: 15px;
    bottom: -30px;
  }

  label {
    position: relative;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  span.radio-text {
    display: block;
    padding-inline: 1em;
    margin-block-start: -15px;
    width: max-content;
    padding-block-end: 5px;
    text-align: center;
    z-index: 0;
  }

  input {
    appearance: none;

    &:checked + span::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 0 50px $main-blue inset;
      border-radius: 0.5em;
      z-index: -1;
    }
  }
}

#manual-btns {
  display: flex;
  align-self: center;
  top: 0;
  right: 0;
  width: 200px;
  gap: 0.7em;

  @media (min-width: 1200px) {
    width: 100%;
    justify-content: center;
  }

  &.remove {
    display: none;
  }

  #reset-btn {
    padding-block: 0;
    padding-block-end: -5px;
    position: absolute;
    top: 0;
    right: 100px;
    svg {
      width: 30px;
      height: 30px;
      path {
        fill: $body-text;
      }
    }
  }

  #next-ship-btn {
    padding-block: 0;
    padding-block-end: -5px;
    position: absolute;
    top: 0;
    right: 20px;
    background-color: green;
    svg {
      width: 30px;
      height: 30px;
      path {
        fill: $body-text;
      }
    }
    &:hover {
      background-color: $main-blue;
      border-radius: 1em;
    }

    &:active {
      background-color: $header-text;
    }

    &:focus {
      outline: 2px solid $body-text;
    }

    &:disabled {
      background-color: grey;
      cursor: auto;
      &:hover {
        background-color: grey;
        border-radius: 0.2em;
      }
    }
  }

  #reset-btn,
  #next-ship-btn {
    @media (min-width: 600px) {
      top: 30px;
    }
  }
}

#random-btns {
  position: absolute;
  width: min-content;
  top: 0px;
  right: 0;
  margin-inline-end: 1em;

  @media (min-width: 600px) {
    top: 30px;
  }
}

.battleship-table {
  width: 350px;
  height: 350px;

  @media (min-width: 600px) {
    width: 400px;
    height: 400px;
  }

  @media (min-width: 1000px) {
    width: 320px;
    height: 320px;
  }

  @media (min-width: 1200px) {
    width: 420px;
    height: 420px;
  }
  // border: 1px solid $table-outline;
  border-collapse: collapse;

  th {
    margin: 0;
    padding: 0;
    width: 20px;
    color: $table-outline;
  }

  &__cell {
    border: 1px solid $table-outline;

    &.dragover {
      background-color: white;
    }

    &:focus {
      outline: 3px solid #ffcc00;
    }

    &.hit {
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 43%;
        top: 0;
        background-color: $body-text;
        width: 3px;
        height: 100%;
        border-radius: 30em;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    &.miss {
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $table-outline;
        width: 10px;
        height: 10px;
        border-radius: 30em;
      }
    }

    &.sunk {
      background-color: $purple;
    }
  }

  &__taken {
    background: $main-blue;
  }
}

// mobile layout for player's board
#player-board.small {
  @media (max-width: 1000px) {
    display: flex;
    flex-direction: row;

    .ship-tracker {
      height: 100%;
      flex-direction: column;
      gap: 0;
      font-size: 0.7em;
      width: 100px;
      align-self: end;
      padding-inline-start: 1em;

      .sq {
        width: 15px;
        height: 15px;
      }
    }
  }

  .p1 .battleship-table {
    width: 140px;
    height: 140px;

    th {
      font-size: 0.5em;
    }

    @media (min-width: 600px) {
      width: 200px;
      height: 200px;
    }

    @media (min-width: 1000px) {
      width: 320px;
      height: 320px;

      th {
        font-size: 1em;
      }
    }

    @media (min-width: 1200px) {
      width: 420px;
      height: 420px;
    }
  }
}

// hover state when player is attacking cpu's fleet
.p2 .battleship-table.my-turn {
  .battleship-table__cell {
    &:hover {
      background-color: $main-blue;
      cursor: crosshair;
    }
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  padding-block: 0;
  margin-block: 1em;
  font-weight: 300;
}

h2 {
  position: relative;
  padding-inline-start: 0.5em;
  padding-block-end: 0.4em;
  margin: 0;
}

.remove {
  display: none;
}

.hide {
  visibility: hidden;
}

.ctn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

p {
  padding: 0;
  margin-block: 0.2em;
}

button {
  background-color: $purple;
  color: $body-text;
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding-inline: 0.5em;
  padding-block: 0.5em;
  margin-block: 0.5em;
  cursor: pointer;
  box-shadow: 0 0 0 2px black;
  border-radius: 0.2em;
  transition:
    border-radius 200ms,
    background-color 200ms;

  &#start-game {
    margin-block: 1em;
    width: 150px;
    padding-block: 1em;
    background-color: green;
    align-self: center;
  }

  &:hover {
    background-color: $main-blue;
    border-radius: 1em;
  }

  &:active {
    background-color: $header-text;
  }

  &:focus {
    outline: 2px solid $body-text;
  }

  &:disabled {
    background-color: grey;
    cursor: auto;
    &:hover {
      background-color: grey;
      border-radius: 0.2em;
    }
  }
}

.you-ctn {
  display: flex;
  flex-direction: column;
}

#player-board,
#computer-board {
  padding-inline-end: 1em;
  padding-block: 0.5em;

  &.highlight {
    background-color: black;
  }
}

#player-board.highlight {
  outline: 2px solid $main-blue;
}

#computer-board.highlight {
  outline: 2px solid $purple;
}

// ship trackers
section {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  flex-direction: column;
  gap: 0.2em;

  @media (min-width: 600px) {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
  }

  .ship-tracker {
    display: flex;
    list-style: none;
    gap: 0.7em;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    margin-block: 0;
    margin-block-start: 0.2em;

    border: 2px solid $table-outline;
    margin-inline-start: 1.9em;
    padding-inline: 0;
    padding-block: 1em;
    width: 320px;
    height: 140px;

    @media (min-width: 600px) {
      flex-direction: column;
      align-self: end;
      margin: 0;
      padding: 1.2em;
      width: 140px;
      height: 362px;
      margin-inline-start: 0.5em;
    }

    @media (min-width: 1000px) {
      height: 290px;
    }

    @media (min-width: 1200px) {
      height: 380px;
    }

    li {
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 0.1em;
      font-size: 0.9em;

      &.remove {
        display: none;
      }

      .sq-ctn {
        display: flex;

        &.vertical {
          flex-direction: column;
          width: min-content;
        }

        &.draggable {
          cursor: move;
          cursor: grab;

          &:active {
            cursor: grabbing;
          }

          .sq {
            background-color: white;
          }
        }

        .sq {
          display: block;
          width: 20px;
          height: 20px;
          border: 1px solid $table-outline;
        }
      }
    }
  }
}

.p1 .sq {
  &.hit {
    background-color: $main-blue;
  }
}

.p2 .sq {
  &.hit {
    background-color: $purple;
  }
}

footer {
  display: flex;
  padding-block: 2em;
  justify-content: center;
}

// pop up when someone wins
#pop-up {
  position: fixed;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.925);
  z-index: 2;

  &.remove {
    display: none;
  }

  > #pop-up-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 0.2em;
    background-color: $bkgd;
    font-size: 1.2em;
    text-align: center;
    border: 2px solid $main-blue;

    & > p:first-child {
      font-size: 1.5em;
      padding-block-end: 1em;
    }
  }
}
